#rss_gadget {
	width: 95%;
	min-height: 150px;
	position: relative;
}

#body {
	margin-top: 20px;
	margin-bottom: 20px;
}

#header {
	height: 30px;
}

#footer {
	float: right;
	margin-right: 10px;
	position: absolute;
	top: 0px;
	right: -20px;
}

#link_to_rss {

}

.rssEntry {
	width: 100%;
	margin-bottom: 30px;
}

.entryTitle {
	width: 100%;
	font-size: 14px;
}

.entryDate {
	color: #444;
	width: 70%;
	display: inline-block;
	float: left;
	font-size: 12px;
}

.entryLink {
	width: 30%;
	display: inline-block;
	float: right;
	font-size: 12px;
	text-align: right;
}

.mainLink {
	margin-left: 5%;
	width: 60%;
	display: inline-block;
	text-align: center;
	height: 30px;
	font-size: 16px;
}

.mainImage {
	width: 50px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.mainImageWrapper {
	width: 25%;
	float: left;
	display: inline-block;
}

#saveButton {
	margin-left: 10px;
	margin-top: 10px;
}

#cancelButton {
	margin-left: 10px;
}

#editButton {
	margin-top: 10px;
}

#editButtonIcon {
	margin-top: 10px;
	margin-left: 10px;
	width: 22px;
	height: 22px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAIAAABL1vtsAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHpSURBVDhPpVRRq7QgEL3//y+JhERIEItELNGLhCxLBLGI9EUI3Rl11fZuT995GmfG48wZ9ef4b1xS2PnOWeHB+H22wf8XlxSyJqSoGkRVEFLL4P+LnGJ9CEZgYy3NNndl3IdsZTdvRtZARph4rM4fECn8ftYOLdIAKKuHxYWWoWbUO0P8xBIotoFjfNrBtrPslUYrx65VL50i+4QsVa99IFKMNSW0lqcKL7BKlztuYR0bsRM2wgcT1se+jG1TsYJVTTsusSjTV9jIlCaEFHYzWi/3itBGhQichMoRCiN1MoDGoUKrGkqq+6K12Vz2j5fBARhcks+ivH95QvvqOawjP0Y9+PAPKRYQh7Ve+wB0ld1bLoSGGX9JYu3zgmIGF5epWyhEckiaw8rhg4IyDrdQjOFgbITybDyr5DQ1okcB2RzuSqA4VnUrQTToLxXv5Cx4qyY9qZaDnQaOTREKQpc3hb441GMSkCimsLocqn1+5EUKP0VoN1fgGywKlRf1plg6EKRR/ixrv/JE945TTRPIqnA33FhnFVwMz/hOdv0cBAiCL8DCez2/haSFv0AICt8E/hH5Y3d/RxXi8dI5JAqANY/uJqSL476Mwpn2JcWte5hznyeKHDighNMIPnBJAQqs+o318/dIOI5f+ZQ2ErqkPs4AAAAASUVORK5CYII=');
}