#rss_gadget {
	width: 95%;
	min-height: 150px;
	position: relative;
}

#body {
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}

#header {

}

#header h3 {
  display: inline-block;
  vertical-align: middle;
}

#header .help {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.rss-header {
	height: 30px;
	display: inline-block;
	width: 100%;
}

#footer {
	float: right;
	margin-right: 10px;
	position: absolute;
	top: 0px;
	right: -20px;
}

#link_to_rss {
	width: 230px;
}

.rssEntry {
	width: 100%;
	margin-bottom: 30px;
}

.entryTitle {
	width: 100%;
	font-size: 14px;
}

.entryDate {
	color: #444;
	width: 70%;
	display: inline-block;
	float: left;
	font-size: 12px;
}

.entryLink {
	width: 30%;
	display: inline-block;
	float: right;
	font-size: 12px;
	text-align: right;
}

.mainLink {
	margin-left: 5%;
	width: 60%;
	display: inline-block;
	text-align: center;
	height: 30px;
	font-size: 16px;
}

.mainImage {
	max-width: 50px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.mainImageWrapper {
	width: 25%;
	float: left;
	display: inline-block;
}

#saveButton {
	margin-left: 10px;
	margin-top: 10px;
}

#cancelButton {
	margin-left: 10px;
}

#editButtonIcon {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
	width: 22px;
	height: 22px;
	background-image: url('http://opensocialuser.github.io/settings_icon.png');
}

.error-txt {
	color: #ff0000;
	font-size: 13px;
	display: block;
}

.label {
	font-size: 14px;
	margin-bottom: 6px;
}

#help_icon {
	width: 16px;
	height: 16px;
	background-image: url('http://opensocialuser.github.io/jam_help_icon.png');
	background-size: contain;
}
